.App {
  margin:0;
  box-sizing: border-box;
  text-align: center;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.banner {
  height:30vh;
  width:100vw;
  color:#fff;
  background-color:#C34444 
}

.card-list{
  text-align: left;
  max-width:455px;
  /* border:1px solid blue; */
}

.profile-box{
  text-align: left;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.chip{
  min-width:38px;
  border:1px solid #ddd;
  border-radius: 10px;
  padding:3px 5px;
  display:flex;
  text-align: center;
  margin:3px;
  color:#C34444;
  font-weight: 700;
}

.chip.rsvp{
  color:#2e7d32;
  min-width:30px;
}