@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Readex+Pro:wght@400;700&display=swap');
.App {
  margin:0;
  font-family: 'Readex Pro', sans-serif;
  box-sizing: border-box;
  text-align: center;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.banner {
  height:25vh;
  width:100vw;
  color:#fff;
  background-color:#C34444 
}

.card-list{
  text-align: left;
  max-width:765px;
  max-height:400px;
  padding:1rem;
  /* border:1px solid salmon; */
}

.profile-box{
  text-align: left;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.chip{
  min-width:35px;
  border:1px solid #ddd;
  border-radius: 10px;
  padding:0 3px;
  display:flex;
  text-align: center;
  margin:3px;
  color:#C34444;
  font-weight: 800;
  /* margin-right:2px; => not working */
}

.chip.rsvp{
  color:#2e7d32;
  min-width:30px;
}

.modal{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:20rem;
  height:23rem;
  border-radius:5px;
  box-shadow: 10px;
  padding:1rem;
  background-color: #fff;
}
